<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<div class="container">
    <h1>Employee Detail</h1>
    <form th:object="${employees}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td th:text="'Employee Code: '+ ${employees.employeeCode}"></td>
            </tr>
            <tr>
                <td th:text="'Name: '+ ${employees.name}"></td>
            </tr>
            <tr>
                <td th:text="'Age: '+ ${employees.age}"></td>
            </tr>
            <tr>
                <td th:text="'Salary: ' +${employees.wage}"></td>
            </tr>
            <tr>
                <td th:text="'Branch: '+ ${employees.branch.name}"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit"> Delete</button>
                </td>
            </tr>
        </table>
    </form>
    <a href="/home">Back to List</a>
</div>
</body>
</html>